@model MediClinic.Models.PhysicianPrescrip

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PhysicianPrescrip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dosage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dosage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drug.DrugId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicianAdvice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicianAdvice.PhysicianAdviceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PrescriptionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
