@model MediClinic.Models.Appointment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<div class="custom-card">

    <h4>Appointment Details</h4>
    <hr />

    <p>
        <strong>Date:</strong>
        @Model.AppointmentDate?.ToString("dd MMM yyyy")
    </p>

    <p>
        <strong>Time:</strong>
        @Model.AppointmentDate?.ToString("hh:mm tt")
    </p>

    <p>
        <strong>Reason:</strong>
        @Model.Reason
    </p>

    <p>
        <strong>Criticality:</strong>
        @Model.Criticality
    </p>

    <p>
        <strong>Status:</strong>
        @Model.ScheduleStatus
    </p>

    <a asp-action="Index"
       class="btn btn-secondary mt-3">
        Back
    </a>

</div>
