@model MediClinic.Models.Appointment
@{
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
<h2>Appointment Details</h2>

<div class="card shadow p-4 mt-3">

    <p>
        <strong>Date:</strong>
        @Model.AppointmentDate?.ToString("dd MMM yyyy HH:mm")
    </p>

    <p>
        <strong>Reason:</strong>
        @Model.Reason
    </p>

    <p>
        <strong>Criticality:</strong>
        @Model.Criticality
    </p>

    <p>
        <strong>Status:</strong>
        @Model.ScheduleStatus
    </p>

    <p>
        <strong>Notes:</strong>
        @Model.Note
    </p>

</div>

<br />

<a asp-action="Index"
   class="btn btn-secondary">
    Back to List
</a>
