@model MediClinic.Models.PhysicianAdvice


<h2>Prescription Details</h2>

<div class="card p-3">

    <p>
        <strong>Date:</strong>
        @(Model.Schedule?.Appointment?.AppointmentDate?.ToShortDateString())

    </p>

    <p>
        <strong>Doctor:</strong>
        @Model.Schedule?.Physician?.PhysicianName
    </p>

    <p>
        <strong>Advice:</strong>
        @Model.Advice
    </p>

    <hr />

    <h4>Medicines</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Drug</th>
                <th>Dosage</th>
                <th>Instructions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var med in (List<MediClinic.Models.PhysicianPrescrip>)ViewBag.Medicines)
            {
                <tr>
                    <td>@med.Drug?.DrugTitle</td>
                    <td>@med.Dosage</td>
                    <td>@med.Prescription</td>
                </tr>
            }
        </tbody>
    </table>

</div>
