@model MediClinic.Models.PurchaseProductLine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PurchaseProductLine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drug.DrugId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Po)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Po.Poid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PolineId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
